<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-vibration"
    version="1.0.0">
    <name>Vibration</name>
    <description>Cordova Vibration Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,vibration</keywords>
    <js-module src="www/api.js" name="Vibration">
        <clobbers target="Vibration" />
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="Vibration">
                <param name="android-package" value="org.apache.cordova.plugin.Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/android/Vibration.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>
</plugin>